html {
    height: 100%;
    background: linear-gradient(tan, white);
}

body {
    margin: 0;
    padding: 0;
}

.card {
    padding: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
}

input {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex > label {
    flex-grow: 0;
    flex-basis: 24%;
}

.flex > input {
    flex-grow: 1;
    flex-basis: 25%;
}

.form-title {
    text-align: center;
    font-size: 1.2em;
}

.form {
    background: white;
    width: 25vw;
    min-width: 150px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.form > * {
    margin: 8px;
}

@media only screen and (max-width: 1270px) {
    .flex {
        flex-direction: column;
    }

    .flex > label {
        flex-grow: 0;
    }
    
    .flex > input {
        flex-grow: 0;
    }
}

.success-background {
    padding: 8px;
    border-radius: 4px;
    background: rgba(74, 197, 74, .5);
}

.failure-background {
    padding: 8px;
    border-radius: 4px;
    background: rgba(255, 79, 79, .5);
}

.neutral-background {
    padding: 8px;
    border-radius: 4px;
    background: white;
}

.name {
    display: none;
    /* visibility: hidden; */
}

/* Loading dots. Credit: https://martinwolf.org/before-2018/blog/2015/01/pure-css-savingloading-dots-animation/ */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
