html {
    height: 100%;
    background: linear-gradient(tan, white);
}

body {
    margin: 0;
    padding: 0;
    /* text-align: center; */
    /* border: 1px solid black; */
    /* background: linear-gradient(tan, white); */
}

.card {
    padding: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
    /* border: 1px solid red; */
}

input {
    display: inline-block;
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    /* width: 100%; */
}

#login {
    background: white;
    width: 25vw;
    min-width: 150px;
    /* margin: 0 auto; */
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid blue; */
    padding: 12px;
}

#login > * {
    margin: 8px;
    /* width: 100%; */
}